Repository aurelia/aurelia, pull requests merged in 2020-10, with the labels that each got.

#938 Fix/recursive template factory
  packages/__tests__/3-runtime-html/template-compiler.test-apps.spec.ts
  packages/__tests__/package.json
  packages/plugin-svg/src/svg-analyzer.ts
  packages/runtime-html/src/template-element-factory.ts
Labels: Bug, Topic: Templating

#940 Feat/di get all traversible
  packages/__tests__/1-kernel/di.getAll.spec.ts
  packages/kernel/src/di.ts
Labels: Topic: DI

#966 Feat/merge eval connect ast
  .github/workflows/main.yml
  packages/__tests__/2-runtime/ast.integration.spec.ts
  packages/__tests__/2-runtime/ast.spec.ts
  packages/__tests__/2-runtime/binding.spec.ts
  packages/__tests__/validation/rule-provider.spec.ts
  packages/i18n/src/t/translation-binding.ts
  packages/runtime-html/src/binding/attribute.ts
  packages/runtime-html/src/binding/listener.ts
  packages/runtime/src/binding/ast.ts
  packages/runtime/src/binding/call-binding.ts
  packages/runtime/src/binding/interpolation-binding.ts
  packages/runtime/src/binding/let-binding.ts
  packages/runtime/src/binding/property-binding.ts
  packages/runtime/src/binding/ref-binding.ts
  packages/runtime/src/resources/binding-behaviors/debounce.ts
  packages/runtime/src/resources/binding-behaviors/throttle.ts
  packages/runtime/src/resources/custom-attributes/repeat.ts
  packages/validation-html/src/validate-binding-behavior.ts
  packages/validation-html/src/validation-controller.ts
  packages/validation/src/rule-provider.ts
  packages/validation/src/serialization.ts
Labels: Topic: Binding

#958 @observable decorator
  packages/__tests__/2-runtime/property-observation.spec.ts
  packages/__tests__/3-runtime-html/decorator-observable.spec.ts
  packages/__tests__/router/router.spec.ts
  packages/__tests__/tasks/copy-html.js
  packages/runtime-html/src/observation/observer-locator.ts
  packages/runtime/src/aurelia.ts
  packages/runtime/src/index.ts
  packages/runtime/src/observation/binding-context.ts
  packages/runtime/src/observation/observable.ts
  packages/runtime/src/observation/observer-locator.ts
  packages/runtime/src/observation/primitive-observer.ts
  packages/runtime/src/observation/setter-observer.ts
Labels: Topic: Binding

#969 Refactor/interpolation
  .github/workflows/main.yml
  packages/__tests__/3-runtime-html/interpolation.spec.ts
  packages/__tests__/3-runtime-html/template-compiler.harmony.spec.ts
  packages/__tests__/3-runtime-html/template-compiler.ref.spec.ts
  packages/__tests__/karma.conf.js
  packages/runtime-html/src/html-renderer.ts
  packages/runtime-html/src/resources/custom-attributes/focus.ts
  packages/runtime/src/binding/interpolation-binding.ts
  packages/runtime/src/index.ts
  packages/runtime/src/renderer.ts
  packages/runtime/src/resources/binding-behaviors/debounce.ts
  packages/runtime/src/resources/binding-behaviors/throttle.ts
  test/js-framework-benchmark/frameworks/keyed/aurelia2-npm/src/main.ts
Labels: Topic: Templating

#942 feat: switch #303
  .eslintrc.js
  docs/user-docs/getting-started/conditional-rendering.md
  packages/__tests__/2-runtime/if.integration.spec.ts
  packages/__tests__/2-runtime/scheduler.spec.ts
  packages/__tests__/3-runtime-html/async-hook-cancellation.spec.ts
  packages/__tests__/3-runtime-html/switch.spec.ts
  packages/__tests__/3-runtime-html/template-compiler.spec.ts
  packages/__tests__/router/_shared/waiters.ts
  packages/__tests__/router/runner.spec.ts
  packages/__tests__/setup-test262.ts
  packages/router/src/browser-viewer-store.ts
  packages/runtime-html/src/template-compiler.ts
  packages/runtime/src/configuration.ts
  packages/runtime/src/definitions.ts
  packages/runtime/src/index.ts
  packages/runtime/src/instructions.ts
  packages/runtime/src/lifecycle.ts
  packages/runtime/src/renderer.ts
  packages/runtime/src/resources/custom-attributes/if.ts
  packages/runtime/src/resources/custom-attributes/switch.ts
  packages/runtime/src/templating/controller.ts
  packages/runtime/src/templating/view.ts
  packages/testing/src/au-dom.ts
Labels: Topic: Templating
